---
title: Home                # The title appears in the menu bar - leave it blank to hide from the menu.
id: home                   # The id is used when linking to this slide - if it's not specified, the title will be used instead.

# This is an example of a slide with a text section and an image alongside. There can be any number of <section> and
# <aside> elements in a slide: <section> elements are given a margin to make them suitable for text, images, or other
# content. <aside> elements can consume anywhere up to the full height of the slide and are great for images.
#
# You'll also notice the use of a <div class="row">...</div> to space out several elements in an attractive row. In
# In this case, we're using hyperlinks to other slides (referenced by their id), containing <button> elements for
# nice finger-friendly hit areas.
---

<section>
  <hgroup>
    <h1>A Wonderful Exhibition</h1>
    <h2>With an exciting subtitle</h2>
  </hgroup>
  <p>
    Lorem ipsum dolor sit amet, et aliquid adolescens mel, an eam habemus torquatos. Illum veniam at quo, vix id ipsum ludus.
    Sanctus appareat ne pro, vix an adhuc intellegat voluptaria. Eu eam vocent honestatis, has id harum deleniti accommodare,
    et vel movet vocibus euripidis. Sed nulla novum invidunt id.
  </p>
  <p>
    Ubique nostro eu eum, duo accumsan indoctum corrumpit eu, pro id equidem perpetua ullamcorper. Summo dolorum conceptam an
    vim, ne iudico nullam eum, an homero meliore voluptua sea. Te lorem tibique qui, pri ubique salutandi eu. Ne qui eripuit
    adipisci. No pro mundi democritum referrentur, vel ad vitae percipit, gubergren scribentur ei vel.
  <p>
    Est et audiam facilisi. Te nibh inermis ancillae pri. Wisi apeirian principes eam ex, has habeo facilisis vituperata ei.
    Pri commune postulant in. Impetus gubergren pri te.
  </p>

  <div class="row">
    <a href="gallery">
      <button>See the Gallery</button>
    </a>

    <a href="secret-gallery">
      <button>See the Secret Gallery</button>
    </a>
  </div>

  <p>
    <!-- this empty paragraph acts as a 'spacer' -->
  </p>

  <div class="row">
    <a href="full-screen-page">
      <button>Full Screen Page</button>
    </a>
  </div>
</section>

<aside>
  <img src="images/kitten-600x900.jpg" />
</aside>
