---
title: Gallery                # The title appears in the menu bar - leave it blank to hide from the menu.
id: gallery                   # The id is used when linking to this slide - if it's not specified, the title will be used instead.

# This is an example of a gallery slide. Note the <div class="gallery">...</div> block that wraps the gallery content itself.
# Within, there are several <figure>s, each containing an <img class="thumb" ... /> and corresponding <figcaption class="thumb">
# for the thumbnail content and an <img class="full" ... /> and corresponding <figcaption class="full"> for the content that is
# displayed when using the full screen image viewer.
---

<section>

  <h1>A Gallery</h1>
  <p>
    It's possible to put text in or around your gallery.
  </p>

  <div class="gallery">

    <figure>
      <img class="thumb" src="http://placehold.it/150x150/DC3D24/232B2B" />
      <figcaption class="thumb">
        <p>Caption for the first image</p>
      </figcaption>

      <img class="full" src="http://placehold.it/800x1000/DC3D24/232B2B" />
      <figcaption class="full">
        <p>Full, longhand caption for the first image</p>
      </figcaption>
    </figure>

    <figure>
      <img class="thumb" src="http://placehold.it/150x150/50d07d/d02552" />
      <figcaption class="thumb">
        <p>Caption for the second image</p>
      </figcaption>

      <img class="full" src="http://placehold.it/800x1000/50d07d/d02552" />
      <figcaption class="full">
        <p>Full, longhand caption for the second image</p>
      </figcaption>
    </figure>

    <figure>
      <img class="thumb" src="http://placehold.it/150x150/221E1D/ECEAE0" />
      <figcaption class="thumb">
        <p>Caption for the third image</p>
      </figcaption>

      <img class="full" src="http://placehold.it/800x1000/221E1D/ECEAE0" />
      <figcaption class="full">
        <p>Full, longhand caption for the third image</p>
      </figcaption>
    </figure>

    <figure>
      <img class="thumb" src="http://placehold.it/150x150/F1684E/1B1B1B" />
      <figcaption class="thumb">
        <p>Caption for the fourth image</p>
      </figcaption>

      <img class="full" src="http://placehold.it/800x1000/F1684E/1B1B1B" />
      <figcaption class="full">
        <p>Full, longhand caption for the fourth image</p>
      </figcaption>
    </figure>

    <figure>
      <img class="thumb" src="http://placehold.it/150x150/763A7A/0288AD" />
      <figcaption class="thumb">
        <p>Caption for the fifth image</p>
      </figcaption>

      <img class="full" src="http://placehold.it/800x1000/763A7A/0288AD" />
      <figcaption class="full">
        <p>Full, longhand caption for the fifth image</p>
      </figcaption>
    </figure>

    <figure>
      <img class="thumb" src="http://placehold.it/150x150/AC2832/000000" />
      <figcaption class="thumb">
        <p>Caption for the sixth image</p>
      </figcaption>

      <img class="full" src="http://placehold.it/800x1000/AC2832/000000" />
      <figcaption class="full">
        <p>Full, longhand caption for the sixth image</p>
      </figcaption>
    </figure>

    <figure>
      <img class="thumb" src="http://placehold.it/150x150/F2EFE4/CB8C1D" />
      <figcaption class="thumb">
        <p>Caption for the seventh image</p>
      </figcaption>

      <img class="full" src="http://placehold.it/800x1000/F2EFE4/CB8C1D" />
      <figcaption class="full">
        <p>Full, longhand caption for the seventh image</p>
      </figcaption>
    </figure>

  </div>

</section>