---
title: Slideshow                # The title appears in the menu bar - leave it blank to hide from the menu.
id: slideshow-start             # The id is used when linking to this slide - if it's not specified, the title will be used instead.

# This page acts as the beginning of a multi-page slideshow: once started, it'll automatically progress through several slides without
# user intervention.
---

<section>

  <h1>Slideshow</h1>
  <p>
    Ready to start?
  </p>

  <p>
    <a href="slideshow-01">
      <button>Start the slideshow</button>
    </a>
  </p>

</section>