---
id: full-screen-page          # The id is used when linking to this slide - if it's not specified, the title will be used instead.
full-screen: true             # Set full-screen to true to make a slide that covers the navigation bar.

# This slide is a full screen page: it covers up the navigation bar when displayed. Make sure that you put in some kind of navigation
# if you want your users to be able to get away from it again! Note that this particular full screen page does not have a title and
# so does not appear in the navigation bar: that's not essential, though.
---

<section>

  <h1>Full Screen Page</h1>

  <div class="row">
    <a href="home">
      <button>&laquo; Back</button>
    </a>

    <a href="full-screen-video-page">
      <button>Full Screen Video &raquo;</button>
    </a>
  </div>

  <p>
    This particular full screen page acts as a portal to a full screen video page!
  </p>

</section>