---
id: secret-gallery            # The id is used when linking to this slide - if it's not specified, the title will be used instead.
highlight_nav_id: home        # If set, the specified page will be highlighted in the navigation when this slide is shown, instead.

# This slide is secret: note that it doesn't have a title attribute, above. As a result, it doesn't appear
# in the navigation menu. You can still get to it from a button, though! Note the use of "highlight_nav_id"
# so that the Home slide (which is the only one from which this slide can be accessed) remains highlighted
# in the navigation (obviously, you'll want to add a "back" button if you do this, or else it becomes hard
# to get back to the home page!)
---

<section>

  <h1>Secret Gallery</h1>

  <p>
    <a href="home">
      <button>&laquo; Back</button>
    </a>
  </p>

  <p>
    This gallery is harder to find.
  </p>

  <div class="gallery">

    <figure>
      <img class="thumb" src="http://placehold.it/150x150/221E1D/ECEAE0" />
      <figcaption class="thumb">
        <p>Caption for the first image</p>
      </figcaption>

      <img class="full" src="http://placehold.it/800x1000/221E1D/ECEAE0" />
      <figcaption class="full">
        <p>Full, longhand caption for the first image</p>
      </figcaption>
    </figure>

    <figure>
      <img class="thumb" src="http://placehold.it/150x150/F1684E/1B1B1B" />
      <figcaption class="thumb">
        <p>Caption for the second image</p>
      </figcaption>

      <img class="full" src="http://placehold.it/800x1000/F1684E/1B1B1B" />
      <figcaption class="full">
        <p>Full, longhand caption for the second image</p>
      </figcaption>
    </figure>

    <figure>
      <img class="thumb" src="http://placehold.it/150x150/763A7A/0288AD" />
      <figcaption class="thumb">
        <p>Caption for the third image</p>
      </figcaption>

      <img class="full" src="http://placehold.it/800x1000/763A7A/0288AD" />
      <figcaption class="full">
        <p>Full, longhand caption for the third image</p>
      </figcaption>
    </figure>

    <figure>
      <img class="thumb" src="http://placehold.it/150x150/AC2832/000000" />
      <figcaption class="thumb">
        <p>Caption for the fourth image</p>
      </figcaption>

      <img class="full" src="http://placehold.it/800x1000/AC2832/000000" />
      <figcaption class="full">
        <p>Full, longhand caption for the fourth image</p>
      </figcaption>
    </figure>

    <figure>
      <img class="thumb" src="http://placehold.it/150x150/F2EFE4/CB8C1D" />
      <figcaption class="thumb">
        <p>Caption for the seventh image</p>
      </figcaption>

      <img class="full" src="http://placehold.it/800x1000/F2EFE4/CB8C1D" />
      <figcaption class="full">
        <p>Full, longhand caption for the seventh image</p>
      </figcaption>
    </figure>

  </div>
  
</section>