---
id: slideshow-secret              # The id is used when linking to this slide - if it's not specified, the title will be used instead.
highlight_nav_id: slideshow-start # We keep the root "Slideshow" tab highlighted throughout the slideshow.
triggers:
  after_enter: |                  # After entering this slide, prepare a countdown to the next slide and trigger the growth of the text
    countdown_to_next_slide = setTimeout(function(){
      goToSlide('slideshow-03');
    }, 5000);

    $('#pages > article:visible h1').css('font-size', '40px');
    setTimeout(function(){
      $('#pages > article:visible h1').css('font-size', '80px');
    }, 1000);
    setTimeout(function(){
      $('#pages > article:visible h1').css('font-size', '40px');
    }, 2000);
    setTimeout(function(){
      $('#pages > article:visible h1').css('font-size', '80px');
    }, 3000);
  before_exit: |                  # Before exiting this slide, kill the countdown if it's already running
    clearTimeout(countdown_to_next_slide);


# This is the secret slide in the slideshow, reached by pressing the 'U' key on slide 2. It features (basic) animated text using CSS
# transitions, and advances back to the next slide after 5 seconds.
---

<section>

  <h1 style="text-align: center; transition: font-size 1s, line-height 1s;">
    Slideshow
  </h1>
  <h1 style="text-align: center; transition: font-size 1s, line-height 1s;">
    Secret Slide!
  </h1>

</section>